:root {
    --primary-color: #00daff;
    --text-color: #b1b1b1;
    --background-color: #000000;
    --secondary-background: #121212;
    --hover-color: #282828;
    --word-active-color: #ff520d62;
}

.main-text {
    font-size: 2vw;
    text-align: center;
    color: var(--text-color);
    padding: 2rem 2rem 0 2rem;
    line-height: 1.4;
    max-width: 80%;
    margin-bottom: 1rem;  /* Add space between main text and bottom text */
}

.bottom-text {
    width: 100%;
    text-align: center;
    color: var(--text-color);
    opacity: 0.5;
    font-family: monospace;
    font-size: 8px;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
    background-color: #000;
    color: #fff;
}

.github-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 6px;
    display: block;
}

